.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 20px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.bio {
  text-align: center;
  /* color: gray; */
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 14px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.waveButton:disabled {
  cursor: pointer;
  margin-top: 16px;
  padding: 14px;
  border: 0;
  border-radius: 5px;
  background-color: #cccccc;
  color: #666666;
  font-size: 20px;
}

.waveInput {
  margin-top: 16px;
  padding: 14px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
}

.waveEntry {
  display: inline-block;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 16px;
  display: inline-block;
  word-break: break-word;
}
